# Python
__pycache__/
*.pyc
.venv/
.venv-*/
.python/
*.nupkg
test.db

# Node
node_modules/

# docs
docs/

# Env
.env

# OS
.DS_Store

# IDE
.vscode/

# Logs
*.log

# Storage
storage/files/*
storage/temp/*
storage/chunks/*


steps_to_start_the_project.txt
